body {
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 36px;
    color: black;
}
header {
    color: black;
    background-color: mediumpurple;
    float: left;
    border: 2px solid black;
}
nav {
    width: 50%;
    height: 36px;
    background-color: mediumpurple;
    border: 2px solid transparent;
    margin-bottom: 80px;
}
Nav ul {
    margin: 0 auto;
    list-style-type: none;
    width: 950px;
}
nav ul li {
    font-size: 24px;
    display: inline-block;
    text-align: left;
}
nav ul li a{
    margin-left: 20px;
    display: block;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    color: black;
}
nav ul li ul{
    display: none;
    position: absolute;
}
nav ul li:hover ul{
    display: block;
    background: mediumpurple;
    border: 2px solid black;
    height: auto;
    width: auto;
    margin-left: 5px;
    margin-top: -5px;
}
nav ul li ul li{
    display: block;
    border-style: none;
}
nav ul li ul li a{
    margin: 0 0 0 4px;
    display: block;
    line-height: 25px;
    text-align: left;
}
nav ul li ul li a:hover{
    background-color: transparent;
    color: black;
}
aside {
    color: black;
    background-color: mediumpurple;
    float: left;
    border: 2px solid black;
    width: 20%;
    height: 20%;
}
aside nav{
    color: black;
}
aside nav h3{
    color: black;
}
aside nav ul li{
    color: black;
    text-align: justify;
}
article{
    color: black;
    float: left;
    width: 50%;
    margin-left: 20px;
}
article div p, article div h3 {
    margin-left: 20px;
    margin-right: 20px;
}
div {
    color: black;
    float: left;
    border: 2px solid black;
}
footer{
    color: black;
    background-color: rebeccapurple;
    clear: both;
    border: 2px solid black;
    text-align: left;
    align-items: center;
}

footer ul {
    list-style-type: none; 
    text-align: left;
}
footer ul li{
    display: inline;
    margin-left: 20px;
    font-weight: bold;
}
#cright {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}
p {
    color: black;
}
p a {
    color: black;
}
a {
    color: black;
}