h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    color: black;
}

aside {
    float: left;
    width: 100%;
}

aside h3 {
    display: inline-block;
    margin-left: 30%
}

aside ul {
    display:none;
}

article{
    color: black;
    float: left;
    width: 96%;
    margin: 2%;
}

div {
    border: 2px solid black;
}

#logo {
    height: auto;
    width: 30%;
}

img {
    height: auto;
    width: 50%;
    margin-left: 25%;
}