h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    color: black;
}

nav {
    float: left;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1%;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    width: auto;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    margin-left: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

aside {
    float: left;
    width: 100%;
}

aside h3 {
    display: inline-block;
    margin-left: 30%
}

aside ul {
    display:none;
}

article{
    color: black;
    float: left;
    width: 96%;
    margin: 2%;
}

div {
    border: 2px solid black;
}

#cright {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

#oldPrice {
    text-decoration: line-through;
}

#logo {
    height: auto;
    width: 15%;
    margin-left: 0;
}

.purcharge {
    display:block;
    width: 50px;
    height: auto;
    background: cornflowerblue;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.price {
    font-size: 30px;
}

img {
    height: auto;
    width: 50%;
    margin-left: 25%;
}