h1, h2, h3, h4, h5, h6 {
    font-size: 40px;
    color: black;
    margin-left: 1%;
}

p {
    margin-left: 1%;
}

nav {
    float: left;
    width: 100%;
    background-color: cornflowerblue;
    border: 2px solid black;
    margin-bottom: 1%;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    width: auto;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    margin-left: 30px;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

aside {
    background-color: cornflowerblue;
    float: left;
    border: 2px solid black;
    width: 20%;
    height: auto;
}

article{
    color: black;
    float: left;
    width: 50%;
    margin: 2%;
}

article div ul {
    font-size: 30px;
    list-style-type: none;
}

div {
    border: 2px solid black;
}

footer{
    background-color: cornflowerblue;
    clear: both;
    border: 2px solid black;
    text-align: left;
    align-items: center;
    width: 100%;
}

footer ul {
    list-style-type: none; 
    text-align: left;
}
footer ul li{
    display: inline;
    margin-left: 5%;
    font-weight: bold;
}
#cright {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
}

#oldPrice {
    text-decoration: line-through;
}

#logo {
    height: auto;
    width: 20%;
    margin-left: 0;
}

.purcharge {
    display:block;
    width: 30%;
    height: auto;
    background: cornflowerblue;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid black;
}

.price {
    font-size: 30px;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    color:black;
}
a:focus{
    color:black;
}
a:active{
    color:black;
}

img {
    height: auto;
    width: 50%;
    margin-left: 25%;
}